{% extends 'base.html.twig' %}

{% block body %}
<main class=" h-auto mb-auto">
    <section class="relative py-16 bg-gray-300 ">
        <div class="container mx-auto mt-6">
            <div class="flex">
                <div class="w-1/2">
                    <h3 class="text-2xl mt-4">Blog</h3>
                </div>
                <div class="w-1/2 text-right pt-6 mr-8">
                    <a href="{{ url('rss') }}">RSS Feed abonnieren</a>
                </div>
            </div>

            <div class="container mx-auto px-4 mt-4">

                    {% for post in posts %}
                        {% if loop.first == true or loop.index % 4 == 0 %}
                            <div class="lg:flex mb-4">
                        {% endif %}

                            <div class="lg:w-1/3 w-full">
                                <div class="rounded overflow-hidden shadow-lg bg-white mb-4 lg:mb-0 lg:mr-4">
                                    <img class="w-full h-64" src="{{ post.category.image }}" alt="image">
                                    <div class="px-6 py-4">
                                        <div class="font-bold text-xl mb-2">
                                            <a href="{{ url('blog_detail', {slug: post.slug}) }}">{{ post.title }}</a></div>
                                        <p class="text-gray-700 text-base">
                                            {{ post.body|length > 200 ? post.body|slice(0, 200) | striptags ~ '...' : post.body | raw  }}
                                        </p>
                                    </div>
                                    <div class="px-6 pt-4 pb-2">
                                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ post.category.name }}</span>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index % 3 == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}


            </div>
            {{ knp_pagination_render(posts) }}
        </div>
    </section>
</main>
{% endblock %}
