<div class="container">

    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Fähigkeiten</h2>

    <div class="spacer" data-height="60"></div>

            <div class="row mb-4">
                <div class="col-sm-12">
                    <div class="rounded bg-white shadow-dark padding-30">
                        <p>
                            Hi, ich bin Adrian<br />
                            Ich bin seit 11 Jahren Web-Entwickler aus Leidenschaft.
                            In meiner beruflichen Laufbahn und Freizeit habe ich mir mittlerweile einige Fähigkeiten
                            und Kenntnisse angeeignet, die ich euch unten präsentiere.<br />
                            <br />
                            Mit der Zeit wird sich diese Liste erweitern, da ich immer wissbegierig
                            bin und jederzeit dazu lerne. Man hat schließlich niemals ausgelernt.<br />

                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% set oldCategory = null %}
                {% for skill in skills %}
                {% if oldCategory == null %}
                <div class="col-sm-12 col-lg-6 mb-4">
                    <div class="rounded bg-white shadow-dark padding-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>{{ skill.category }}</h3>


                                {% set oldCategory = skill.category %}
                                {% elseif oldCategory != skill.category %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-lg-6 mb-4">
                    <div class="rounded bg-white shadow-dark padding-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>{{ skill.category }}</h3>
                                {% set oldCategory = skill.category %}
                                {% endif %}

                                <div class="skill-item">
                                    <div class="skill-info clearfix">
                                        <h4 class="float-left mb-3 mt-0">{{ skill.name }}</h4>
                                        <span class="float-right">{{ skill.rating }}%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ skill.rating }}" data-color="{{ skill.color }}" style="background-color: {{ skill.color }}; width: {{ skill.rating }}%;">
                                        </div>
                                    </div>
                                    <div class="spacer" data-height="20" style="height: 20px;"></div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
